BACKEND_API_URL=Your backend API URL here

# for console.log purpose only, not for production usem
# accessible form client and server component or server functions
# NEXT_PUBLIC_BACKEND_API_URL=Your backend API URL here